.v-hiden {
    visibility: hidden !important;
}

.dropdown-toggle.open:after {
    content: "\f3d8" !important;
}

.mobile-menu-item.pd-0 {
    padding: 0;
}

.dark_skin .navbar-nav .dropdown-menu {
    box-shadow: none !important;
}

@media (min-width:992px) {
    .sub-menu-column-3 ul {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 25px;
        gap: 15px;
    }

    .sub-menu-column-3 ul li {
        width: 100% !important;
        background-color: #f5f5f5 !important;
        padding: 20px 0px;
        border-radius: 10px;
    }

    .sub-menu-column-3 ul li a.dropdown-item.menu-link {
        color: #333;
        text-transform: capitalize !important;
        font-weight: 400 !important;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}

@media(max-width:1419px) and (min-width:1200px) {
    ul.main-mega-menu>li>div.dropdown-menu {
        width: 860px !important;
    }
}

@media(max-width:1199px) and (min-width:992px) {
    ul.main-mega-menu>li>div.dropdown-menu {
        width: 300% !important;
    }

    .sub-menu-column-3 ul li {
        padding: 12px 0px;
    }

    .sub-menu-column-3 ul li a.dropdown-item.menu-link img {
        width: 40px;
        height: 40px;
    }

    .w-mn-home {
        display: none;
    }
}

@media(max-width:991px) {
    .sub-menu-column-3 ul li a.dropdown-item.menu-link img {
        display: none !important;
    }

    .sub-menu-column-3 ul li a.dropdown-item.menu-link {
        text-transform: capitalize !important;
        font-weight: 400 !important;
    }

    .sub-menu-column-3 ul {
        padding-left: 26px !important;
    }
}

.navbar .navbar-nav li.menu-dv:hover>.dropdown-menu {
    z-index: 9999 !important;
}


.fake-col-wrapper .item {
    margin-bottom: 10px;
}

.bg-img-home-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-img-home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.support-online-head {
    padding: 20px 15px 0px 15px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.support-online-head img {
    width: 30px;
    object-fit: contain;
}

.support-online-head span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

@media (min-width:992px) {

    .menu-nlas ul {
        display: none !important;
    }

    .menu-nlas:hover>.dropdown-menu>ul,
    .s-first-hover>.dropdown-menu>ul {
        display: block !important;
    }

    .menu-nlas ul li:first-child {
        display: list-item;
    }

    .menu-nlas>div.dropdown-menu>ul>li {
        width: 33.33% !important;
        float: none !important;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li>a {
        text-transform: capitalize !important;
        color: #292b2c;
        font-weight: 400 !important;
        line-height: 1.8;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li>a:hover {
        color: #1B98E0 !important;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li>.dropdown-menu>ul {
        position: absolute;
        left: 33.33%;
        top: 0px;
        width: 33.33%;
        height: 100%;
        padding: 10px 0px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li:hover>.dropdown-menu>ul {
        display: block !important;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li div.dropdown-menu {
        position: initial !important;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li>.dropdown-menu>ul>li>.dropdown-menu>ul {
        position: absolute;
        right: -100%;
        top: 0px;
        width: 100%;
        height: 100%;
        padding: 10px 0px;
    }

    #navCatContent .menu-nlas>div.dropdown-menu>ul>li>.dropdown-menu>ul>li:hover>.dropdown-menu>ul {
        display: block !important;
    }

    #navCatContent .menu-nlas ul li a.dropdown-toggler {
        position: relative;
        line-height: 1.8;
    }

    #navCatContent .menu-nlas ul li a.dropdown-toggler::before {
        content: "\f3d0";
        font-family: "Ionicons";
        vertical-align: middle;
        display: inline-block;
        position: absolute;
        right: 1.5rem;
        transform: rotate(-90deg);
    }
}
@media(max-width:1199px){
    .carousel_slider .owl-nav .owl-next{
        right: -15px;
    }
    .carousel_slider .owl-nav .owl-prev{
        left: -15px;
    }
}

@media(max-width:991px) {
    .menu-nlas>div.dropdown-menu>ul>li>div.dropdown-menu>ul>li>div.dropdown-menu {
        display: block !important;
        padding-left: 15px !important;
    }
}
.support-online a{
    background: #fff;
    border-radius: 25px;
    padding: 8px 8px;
    box-shadow: -1px 0px 9px #ddd;
    border: 1px solid #ded1d1;
}

.header-sticky-mobile{
    position: fixed;
    top:0;
    width: 100%;
    left: 0;
    background-color: #fff;
    z-index: 999999;
    transform: translateY(-100%);
}


.compare-modal-product-item{
    flex:  0 0 180px;
    max-width: 180px;
    background-color: #fff;
    position: relative;
    transition: all 0.5s ease-in-out;
    border: 0;
    border-radius: 10px;
    padding: 25px 15px;
}
.compare-modal-product-item .compare-modal-remove-js{
    position: absolute;
    right: 5px;
    top:5px;
    color:#5c6861;
    cursor: pointer;
}
.compare-modal-product-item img{
    margin-bottom: 15px;
}

.compare-modal-product-name{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #333 !important;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media(max-width:767px){
    .compare-modal-product-item{
        flex:  0 0 32%;
        max-width: 32%;
        padding: 20px 10px;
    }
    .compare-modal-product-name{
        font-size: 13px;
        line-height: 18px;
    }
}


.support-online{
    display: none;
}

.banner_sticky .banner-scroll-item{
    top: 73px !important;
    position: fixed;
}